@import "nullstyle.css";

body {
    background: #FAFBFF;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.sidebar {
    background: #FFF;
    min-height: 100%;
    width: 306px;
}
.sidebar__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 36px 28px 76px;
    background: #FFF;
}

.sidebar__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 64px 0;
}
.sidebar__logo img {
    width: 37px;
    margin: 0 8px 0 0;
}
.sidebar__logo h1 {
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    letter-spacing: 0.01em;
    color: #000000;
}
.sidebar__logo span {
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.01em;
    color: #838383;
    padding: 0 0 0 4px;
}

.sidebar__menu {
    flex: 1 1 auto;
    margin: 0 0 40px 0;
}
.sidebar__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 11px 8px 11px 11px;
    margin: 0 0 18px 0;
    border-radius: 8px;
}
.sidebar__item a {
    color: #000;
}
.active-item a {
    color: #FFF;
}
.active-item{
    background: #5932EA;
}
.sidebar__item:last-child {
    margin: 0;
}
.sidebar__menu-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sidebar__menu-left img {
    margin: 0 14px 0 0;
    width: 24px;
}
.sidebar__menu-right img {
    width: 16px;
}

.sidebar__user {
    display: flex;
    flex-direction: row;
}
.sidebar__user-photo {
    width: 42px;
    margin: 0 12px 0 0;
}
.sidebar__user-photo img {
    width: 100%;
}
.sidebar__user-text {
    display: flex;
    flex-direction: column;
}
.sidebar__name {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #000000;
}
.sidebar__prof {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #757575;
}

main {
    padding: 41px 71px;
    width: 100%;
}
.main__name {
    margin: 0 0 51px 0;
}
.main__name p {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}
.container {
    width: 968px;
    background: #FFFFFF;
    box-shadow: 0 10px 60px rgba(226, 236, 249, 0.5);
    border-radius: 30px;
    padding: 30px 40px 40px 38px;
}

.container__top {
    margin: 0 0 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 13px 0 0;
}
.container__title h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -0.01em;
    color: #000000;
    margin: 0 0 7px 0;
}
.container__title p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #16C098;
}
.container__search {
    position: relative;
}
.container__search button {
    background: #F9FBFF;
    position: absolute;
    top: 7px;
    left: 8px;
}
.container__search input {
    background: #F9FBFF;
    border-radius: 10px;
    padding: 10px 8px 10px 40px;
}
.placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #B5B7C0;
}

.container__table {
    min-width: 100%;
    margin: 0 0 30px 0;
}
.table {
    min-width: 100%;
}
.table__table {
    min-width: 100%;
    border-collapse: collapse;
}
.table__table thead {

}
.table__table tr {
    height: 69px;
}
.table__table thead,
.table__table td {
    border-bottom: 1px solid #EEEEEE;
}
.table__table th {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #B5B7C0;
    text-align: left;
}
.table__table td {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #292D32;
}
.table__table a {
    color: #292D32;
}
.table__status {
    width: 80px;
    height: 29px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    border-radius: 4px;
}
.active__status {
    color: #008767;
    background: rgba(22, 192, 152, 0.38);
    border: 1px solid #00B087;
}
.inactive__status {
    color: #DF0404;
    background: #FFC5C5;
    border: 1px solid #DF0404;
}


.container__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container__info {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #B5B7C0;
}
.container__pages {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.container__pages button,
.container__pages p {
    margin: 0 12px 0 0;
}
.container__pages button:last-child {
    margin: 0;
}
.container__pages p {
    padding: 0 0 4px 0;
}
.container__btn {
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -0.01em;
}
.inactive-page {
    color: #404B52;
    background: #F5F5F5;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
}
.active-page {
    background: #5932EA;
    border: 1px solid #5932EA;
    border-radius: 4px;
    color: #FFFFFF;
}